/* Universal selector with a * astericks */
* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* elements selectors */

header {
  width: 100%;
  background-color: black;
}

h2 {
  color:#ffff;
  background-color: rgb(156, 188, 236);
}

/* Any button over which the user's pointer is hovering */
button:hover {
  font-weight: bold;
  color:blue;
}

/* Class selectors with . period */

.title {
  font-size:xx-large;
  color: rgb(195, 235, 238);
}

.bio {
  color: rgb(39, 16, 240);
  background-color: rgb(236, 118, 227);
}

.sections{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(39, 16, 240);
  background-color: #d7dceb;
}
  
.box {
  width: 200px;
  height: 200px;
  font-family:'Courier New', Courier, monospace;  
}

.box-blue {
  color: white;
  background-color: blue;
}

.box-orange{
  color:white;
  background-color: blue;
}


#nav-ul {
  text-align: right;
  color:#ffff;
}

.nav-li{
  display:inline;
  list-style-type: none;
  font-size: 20px;
  color:#ffff;
}

/* deactivate this code
.lists{
  color:black;
}*/

/* id selectors with # pound */

    #about-me{
      background-color: rgb(48, 47, 47);
    }

    #contact{
      background-color: rgb(114, 110, 110);
    }

    #facts{
      background-color: rgb(168, 161, 161);
    }
   
    #email {
      background-color: rgb(195, 235, 238);
      color:black;
    }
  
    #github {
      background-color: rgb(158, 233, 238);
      color:black;
    }
  
    #portfolio {
      background-color: rgb(105, 229, 238);
      color:black;
    }

    #box-yellow{
      color:purple;
      background-color: yellow;
    }
  
    #fact-1 {
      font-weight:bold;
      line-height: 30px;
    }
    #fact-2 {
      font-size: 24px;
      line-height: 30px;
    }
    #fact-3 {
      line-height: 50px;
    }
  


