/* Universal selector with a * astericks */
* {
  margin:0;
  padding:0;  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root{
  --dark: rgb(0, 0, 0);
  --theme: rgb(27, 138, 146);
  --light: rgb(218, 237, 245);

}


/* elements selectors */

body{
  position: relative;
  font-size: 20px;
  color: #4F4846;
}

header,
footer {
  height: 80px;
  width: 100%;
  line-height: 60px;
}

header {
  position: fixed;
  border-bottom: 10px solid var(--theme);
  background-color: var(--dark);
}



li{
  list-style-type:none;
}


h1{
  margin: 50px 70px 0px 0px;
  text-align: left;
}


section{
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #DDAF94;
  /*background-color: #E8CEBF;*/
  text-align: justify;
}



footer {
  position: absolute;
}



/* Class selectors with . period */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.lastname {
  font-size: 40px;
  line-height: 30px;
  color: var(--light);
  background-color: var(--theme);
  padding: 10px;
  width: 250px;
  text-align: right;
  border-style: none;
  border-width: 1px;
  margin: 5px 0px;
}


.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-item{
  list-style: none;
  margin: 20px;
  font-size: larger;
}

.nav-item a{
  text-align: center;
  padding: 1px 1px;
  color: var(--theme);
}

.desk {
  display: inline; 
  margin: 20px auto;
  margin-bottom: 40px;
  height: auto;
  max-width: 100%;
}

.mypic{
  display:flex;
  align-items: right;
  width: 10rem;
  object-fit: contain;
  border: 5px dashed var(--theme)
}

.quote{
  color: var(--light)
  display: flex;
  margin: 0px;
  right: 0px;
  top: 15rem;
  padding: 0px 4rem;
  font-weight: bold;
  text-align: right;
  flex-wrap: wrap;
  font-size: 1.5rem;
}


/*ID SELECTORS*/

  #fact-1 {
    font-weight:bold;
    line-height: 30px;
  }
  #fact-2 {
    font-size: 24px;
    line-height: 30px;
  }
  #fact-3 {
    line-height: 50px;
  }
  
  

/*MEDIA QUERIES for different screen sizes*/

/* For cell phones: 
    - max width is at 778px so "Ewing" doesn't clash with "About Me"
    - color and font size of hyperlinks change
*/
@media screen and (max-width:778px) {
  .nav-list, .nav-item a{
    font-size: smaller;
    margin: 1rem 0px;
    color: var(--light)
  }
}
  


